<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>zoomable-circle-packing</title>
    </head>
    <body>
        zoomable-circle-packing
        <img src="../dist/imgs/webpack.e0b5805d423a4ec9473ee315250968b2.svg" />
    <script type="text/javascript" src="../dist/index.bundle.js"></script><script type="text/javascript" src="../dist/vendor.bundle.js"></script></body>
</html>
